<a href="https://colab.research.google.com/github/SANGRAMLEMBE/MTech/blob/main/Applied_Data_Science/Practical/ADS_Lab_3_Indexing_and_Reindexing_in_pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 3 – Indexing and Reindexing in pandas dataframes

In [1]:
import numpy as np
import pandas as pd

## Question 1 — label vs position selection
1) Load nba.csv with Name as index

In [4]:
df = pd.read_csv('/content/nba - nba.csv', index_col='Name')

2. Print the row for player "Avery Bradley" using .loc, then print the 4th row in the DataFrame
using .iloc.

- df.loc['Avery Bradley'] retrieves the row by the label (player's name), returning a Series.

In [5]:
# Print the row for "Avery Bradley" using loc (label-based)
print("Row for Avery Bradley using loc:")
print(df.loc['Avery Bradley'])

Row for Avery Bradley using loc:
Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

3. Print the 4th row using iloc

In [6]:
# Print the 4th row using iloc (position-based, 0-indexed so 3 is the 4th row)
print("\n4th row using iloc:")
print(df.iloc[3])

4th row using iloc:
Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

4. Extract "Team" and "Position" for "R.J. Hunter" using loc

- selects specific columns for that row, returning a Series or small DataFrame.

In [7]:
# Extract "Team" and "Position" for "R.J. Hunter" using loc
print("\nTeam and Position for R.J. Hunter:")
print(df.loc['R.J. Hunter', ['Team', 'Position']])

Team and Position for R.J. Hunter:
Team        Boston Celtics
Position                SG
Name: R.J. Hunter, dtype: object

## Question 2 — set_index / reset_index and at/iat

In [ ]:
df.set