<a href="https://colab.research.google.com/github/SANGRAMLEMBE/MTech/blob/main/Machine_Learning_Algorithm/Practical/MLA_Lab_2_k_fold_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MLA_Lab_2_k_fold_validation

## 1. Import Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 2. Load Datasets

In [4]:
df = pd.read_csv('/content/processes2.csv')
df.head()

   Unnamed: 0     name  year  ...  Mileage Unit  Mileage Engine (CC)
0           0   Maruti  2014  ...          kmpl    23.40        1248
1           2  Hyundai  2010  ...          kmpl    23.00        1396
2           4  Hyundai  2017  ...          kmpl    20.14        1197
3           7   Toyota  2011  ...          kmpl    23.59        1364
4           8     Ford  2013  ...          kmpl    20.00        1399

[5 rows x 14 columns]

## 3. Data Cleaning

In [7]:
# Example: Select needed columns and drop NA rows
df = df[['selling_price','km_driven','year','seats','Engine (CC)']]
df = df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   selling_price  2095 non-null   int64
 1   km_driven      2095 non-null   int64
 2   year           2095 non-null   int64
 3   seats          2095 non-null   int64
 4   Engine (CC)    2095 non-null   int64
dtypes: int64(5)
memory usage: 82.0 KB
None

##4. Define Features and Target
creates the feature matrix X and target vector y

In [8]:
x = df.drop('selling_price', axis=1)
y = df['selling_price']

## 5. Setup KFold cross validation
- prepares 5-fold cross-validation (shuffles data for randomness) and an empty list to save validation scores.

In [10]:
from sklearn.model_selection import KFold


kf = KFold(n_splits=5, shuffle=True, random_state=42)
mse_scores = []

## 6. Train and Validation with KFold


cross-validation:

- Splits data into train/test sets per fold

In [11]:
for train_index, test_index in kf.split(x):
  x_train, x_test = x.iloc[train_index], x.iloc[test_index]
  y_train, y_test = y.iloc[train_index], y.iloc[test_index]

- Trains the linear regression model

- Makes predictions on test set

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

- Computes and prints MSE for each fold, and saves it in mse_scores.

In [13]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
mse_scores.append(mse)
print(f"MSE for this fold: {mse}")

MSE for this fold: 15730039441.473888